@page
@model test_pageModel
@{
}

<form method="post">
    <div>
        <label>
            Name:
        </label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>
            Age:
        </label>
        <input asp-for="Age" />
    </div>
    <button type="submit">
        submit
    </button>
</form>
@if (!string.IsNullOrEmpty(Model.GettingMassage))
{
    <p>
        @Model.GettingMassage
    </p>
}
